<script>const listingsData = <%- JSON.stringify(Alldata) %>; </script>
<% layout("/layouts/boilerplate") %>
<body>
    <%- include("../includes/filters") %>
    <div class="row row-cols-lg-4 row-cols-md-3 mt-1 row-cols-sm-2">
        <% for (let data of Alldata)  { %>
            <a href="/listings/<%= data._id %>" class="listing-links" style="display: block;">
                <div class="card">
                    <img src=<%= data.image.url %> class="card-img-top" alt="..." style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b class="title"><%= data.title %></b> <br>
                            <i class="fa-solid fa-location-dot loaction-icon"></i> <%= data.location %> , <%= data.country %> <br>
                            <b>&#8377; <%= data.price.toLocaleString("en-IN") %></b> / <i>night</i>
                            <i class="tax-info"><b>&nbsp;+18% GST</b></i>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>

